@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

.menu {
	margin: 0;
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%
}

.menu>li {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

[data-whatinput=mouse] .menu>li {
	outline: 0
}

.menu>li>a {
	display: block;
	padding: .7rem 1rem;
	line-height: 1
}

.menu a, .menu button, .menu input, .menu select {
	margin-bottom: 0
}

.menu>li>a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	flex-flow: row
}

.menu>li>a i, .menu>li>a img, .menu>li>a svg {
	margin-right: .25rem
}

.menu, .menu.horizontal {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.menu.horizontal>li, .menu>li {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.menu.expanded>li {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0px
}

.menu.expanded>li:first-child:last-child {
	width: 100%
}

.menu.vertical {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.menu.vertical>li {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}

.menu.vertical>li>a {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

@media print , screen and (min-width:40em) {
	.menu.medium-horizontal {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}
	.menu.medium-horizontal>li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto
	}
	.menu.medium-expanded>li {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 0px;
		flex: 1 1 0px
	}
	.menu.medium-expanded>li:first-child:last-child {
		width: 100%
	}
	.menu.medium-vertical {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.menu.medium-vertical>li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.menu.medium-vertical>li>a {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
}

@media print , screen and (min-width:64em) {
	.menu.large-horizontal {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}
	.menu.large-horizontal>li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto
	}
	.menu.large-expanded>li {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 0px;
		flex: 1 1 0px
	}
	.menu.large-expanded>li:first-child:last-child {
		width: 100%
	}
	.menu.large-vertical {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.menu.large-vertical>li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.menu.large-vertical>li>a {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
}

.menu.simple li {
	display: inline-block;
	vertical-align: top;
	line-height: 1
}

.menu.simple a {
	padding: 0
}

.menu.simple li {
	margin-left: 0;
	margin-right: 1rem
}

.menu.simple.align-right li {
	margin-right: 0;
	margin-left: 1rem
}

.menu.align-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.menu.icon-top>li>a {
	-ms-flex-flow: column nowrap;
	flex-flow: column
}

.menu.icon-top>li>a i, .menu.icon-top>li>a img, .menu.icon-top>li>a svg
	{
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
	margin-bottom: .25rem;
	text-align: center
}

.menu.icon-top.vertical a>span {
	margin: auto
}

.menu.nested {
	margin-left: 1rem
}

.menu .active>a {
	background: #1779ba;
	color: #fefefe
}

.menu.menu-bordered li {
	border: 1px solid #e6e6e6
}

.menu.menu-bordered li:not (:first-child ){
	border-top: 0
}

.menu.menu-hover li:hover {
	background-color: #e6e6e6
}

.menu-text {
	padding-top: 0;
	padding-bottom: 0;
	padding: .7rem 1rem;
	font-weight: 700;
	line-height: 1;
	color: inherit
}

.menu-centered {
	text-align: center
}

.menu-centered>.menu {
	display: inline-block;
	vertical-align: top
}

.no-js [data-responsive-menu] ul {
	display: none
}

.menu-icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 16px;
	cursor: pointer
}

.menu-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #fefefe;
	box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
	content: ""
}

.menu-icon:hover:after {
	background: #cacaca;
	box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca
}

.menu-icon.dark {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 16px;
	cursor: pointer
}

.menu-icon.dark:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #0a0a0a;
	box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a;
	content: ""
}

.menu-icon.dark:hover:after {
	background: #8a8a8a;
	box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a
}

.is-drilldown {
	position: relative;
	overflow: hidden
}

.is-drilldown li {
	display: block
}

.is-drilldown.animate-height {
	-webkit-transition: height .5s;
	transition: height .5s
}

.is-drilldown-submenu {
	position: absolute;
	top: 0;
	left: 100%;
	z-index: -1;
	width: 100%;
	background: #fefefe;
	-webkit-transition: -webkit-transform .15s linear;
	transition: -webkit-transform .15s linear;
	transition: transform .15s linear;
	transition: transform .15s linear, -webkit-transform .15s linear
}

.is-drilldown-submenu.is-active {
	z-index: 1;
	display: block;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%)
}

.is-drilldown-submenu.is-closing {
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}

.drilldown-submenu-cover-previous {
	min-height: 100%
}

.is-drilldown-submenu-parent>a {
	position: relative
}

.is-drilldown-submenu-parent>a:after {
	display: block;
	width: 0;
	height: 0;
	border: 6px inset;
	content: "";
	border-right-width: 0;
	border-left-style: solid;
	border-color: transparent transparent transparent #1779ba;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	right: 1rem
}

.js-drilldown-back>a:before {
	display: block;
	width: 0;
	height: 0;
	border: 6px inset;
	content: "";
	border-right-style: solid;
	border-color: transparent #1779ba transparent transparent;
	display: inline-block;
	vertical-align: middle;
	margin-right: .75rem;
	border-left-width: 0
}

.dropdown-pane {
	position: absolute;
	z-index: 10;
	display: block;
	width: 300px;
	padding: 1rem;
	visibility: hidden;
	border: 1px solid #cacaca;
	border-radius: 0;
	background-color: #fefefe;
	font-size: 1rem
}

.dropdown-pane.is-open {
	visibility: visible
}

.dropdown-pane.tiny {
	width: 100px
}

.dropdown-pane.small {
	width: 200px
}

.dropdown-pane.large {
	width: 400px
}

.dropdown.menu>li.opens-left>.is-dropdown-submenu {
	top: 100%;
	right: 0;
	left: auto
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu {
	top: 100%;
	right: auto;
	left: 0
}

.dropdown.menu>li.is-dropdown-submenu-parent>a {
	position: relative;
	padding-right: 1.5rem
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
	display: block;
	width: 0;
	height: 0;
	border: 6px inset;
	content: "";
	border-bottom-width: 0;
	border-top-style: solid;
	border-color: #1779ba transparent transparent;
	right: 5px;
	margin-top: -3px
}

[data-whatinput=mouse] .dropdown.menu a {
	outline: 0
}

.no-js .dropdown.menu ul {
	display: none
}

.dropdown.menu.vertical>li .is-dropdown-submenu {
	top: 0
}

.dropdown.menu.vertical>li.opens-left>.is-dropdown-submenu {
	right: 100%;
	left: auto
}

.dropdown.menu.vertical>li.opens-right>.is-dropdown-submenu {
	right: auto;
	left: 100%
}

.dropdown.menu.vertical>li>a:after {
	right: 14px
}

.dropdown.menu.vertical>li.opens-left>a:after {
	display: block;
	width: 0;
	height: 0;
	border: 6px inset;
	content: "";
	border-left-width: 0;
	border-right-style: solid;
	border-color: transparent #1779ba transparent transparent
}

.dropdown.menu.vertical>li.opens-right>a:after {
	display: block;
	width: 0;
	height: 0;
	border: 6px inset;
	content: "";
	border-right-width: 0;
	border-left-style: solid;
	border-color: transparent transparent transparent #1779ba
}

@media print , screen and (min-width:40em) {
	.dropdown.menu.medium-horizontal>li.opens-left>.is-dropdown-submenu {
		top: 100%;
		right: 0;
		left: auto
	}
	.dropdown.menu.medium-horizontal>li.opens-right>.is-dropdown-submenu {
		top: 100%;
		right: auto;
		left: 0
	}
	.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a {
		position: relative;
		padding-right: 1.5rem
	}
	.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after {
		display: block;
		width: 0;
		height: 0;
		border: 6px inset;
		content: "";
		border-bottom-width: 0;
		border-top-style: solid;
		border-color: #1779ba transparent transparent;
		right: 5px;
		margin-top: -3px
	}
	.dropdown.menu.medium-vertical>li .is-dropdown-submenu {
		top: 0
	}
	.dropdown.menu.medium-vertical>li.opens-left>.is-dropdown-submenu {
		right: 100%;
		left: auto
	}
	.dropdown.menu.medium-vertical>li.opens-right>.is-dropdown-submenu {
		right: auto;
		left: 100%
	}
	.dropdown.menu.medium-vertical>li>a:after {
		right: 14px
	}
	.dropdown.menu.medium-vertical>li.opens-left>a:after {
		display: block;
		width: 0;
		height: 0;
		border: 6px inset;
		content: "";
		border-left-width: 0;
		border-right-style: solid;
		border-color: transparent #1779ba transparent transparent
	}
	.dropdown.menu.medium-vertical>li.opens-right>a:after {
		display: block;
		width: 0;
		height: 0;
		border: 6px inset;
		content: "";
		border-right-width: 0;
		border-left-style: solid;
		border-color: transparent transparent transparent #1779ba
	}
}

@media print , screen and (min-width:64em) {
	.dropdown.menu.large-horizontal>li.opens-left>.is-dropdown-submenu {
		top: 100%;
		right: 0;
		left: auto
	}
	.dropdown.menu.large-horizontal>li.opens-right>.is-dropdown-submenu {
		top: 100%;
		right: auto;
		left: 0
	}
	.dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a {
		position: relative;
		padding-right: 1.5rem
	}
	.dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a:after {
		display: block;
		width: 0;
		height: 0;
		border: 6px inset;
		content: "";
		border-bottom-width: 0;
		border-top-style: solid;
		border-color: #1779ba transparent transparent;
		right: 5px;
		margin-top: -3px
	}
	.dropdown.menu.large-vertical>li .is-dropdown-submenu {
		top: 0
	}
	.dropdown.menu.large-vertical>li.opens-left>.is-dropdown-submenu {
		right: 100%;
		left: auto
	}
	.dropdown.menu.large-vertical>li.opens-right>.is-dropdown-submenu {
		right: auto;
		left: 100%
	}
	.dropdown.menu.large-vertical>li>a:after {
		right: 14px
	}
	.dropdown.menu.large-vertical>li.opens-left>a:after {
		display: block;
		width: 0;
		height: 0;
		border: 6px inset;
		content: "";
		border-left-width: 0;
		border-right-style: solid;
		border-color: transparent #1779ba transparent transparent
	}
	.dropdown.menu.large-vertical>li.opens-right>a:after {
		display: block;
		width: 0;
		height: 0;
		border: 6px inset;
		content: "";
		border-right-width: 0;
		border-left-style: solid;
		border-color: transparent transparent transparent #1779ba
	}
}

.dropdown.menu.align-right .is-dropdown-submenu.first-sub {
	top: 100%;
	right: 0;
	left: auto
}

.is-dropdown-menu.vertical {
	width: 100px
}

.is-dropdown-menu.vertical.align-right {
	float: right
}

.is-dropdown-submenu-parent {
	position: relative
}

.is-dropdown-submenu-parent a:after {
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -6px
}

.is-dropdown-submenu-parent.opens-inner>.is-dropdown-submenu {
	top: 100%;
	left: auto
}

.is-dropdown-submenu-parent.opens-left>.is-dropdown-submenu {
	right: 100%;
	left: auto
}

.is-dropdown-submenu-parent.opens-right>.is-dropdown-submenu {
	right: auto;
	left: 100%
}

.is-dropdown-submenu {
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
	display: none;
	min-width: 200px;
	border: 1px solid #cacaca;
	background: #fefefe
}

.is-dropdown-submenu .is-dropdown-submenu-parent>a:after {
	right: 14px
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left>a:after {
	display: block;
	width: 0;
	height: 0;
	border: 6px inset;
	content: "";
	border-left-width: 0;
	border-right-style: solid;
	border-color: transparent #1779ba transparent transparent
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a:after {
	display: block;
	width: 0;
	height: 0;
	border: 6px inset;
	content: "";
	border-right-width: 0;
	border-left-style: solid;
	border-color: transparent transparent transparent #1779ba
}

.is-dropdown-submenu .is-dropdown-submenu {
	margin-top: -1px
}

.is-dropdown-submenu>li {
	width: 100%
}

.is-dropdown-submenu.js-dropdown-active {
	display: block
}

.flex-video, .responsive-embed {
	position: relative;
	height: 0;
	margin-bottom: 1rem;
	padding-bottom: 75%;
	overflow: hidden
}

.flex-video embed, .flex-video iframe, .flex-video object, .flex-video video,
	.responsive-embed embed, .responsive-embed iframe, .responsive-embed object,
	.responsive-embed video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.flex-video.widescreen, .responsive-embed.widescreen {
	padding-bottom: 56.25%
}

.label {
	display: inline-block;
	padding: .33333rem .5rem;
	border-radius: 0;
	font-size: .8rem;
	line-height: 1;
	white-space: nowrap;
	cursor: default
}

.label, .label.primary {
	background: #1779ba;
	color: #fefefe
}

.label.secondary {
	background: #767676;
	color: #fefefe
}

.label.success {
	background: #3adb76;
	color: #0a0a0a
}

.label.warning {
	background: #ffae00;
	color: #0a0a0a
}

.label.alert {
	background: #cc4b37;
	color: #fefefe
}

.media-object {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1rem;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.media-object img {
	max-width: none
}

@media screen and (max-width:39.9375em) {
	.media-object.stack-for-small {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
}

@media screen and (max-width:39.9375em) {
	.media-object.stack-for-small .media-object-section {
		padding: 0;
		padding-bottom: 1rem;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
	.media-object.stack-for-small .media-object-section img {
		width: 100%
	}
}

.media-object-section {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto
}

.media-object-section:first-child {
	padding-right: 1rem
}

.media-object-section:last-child:not (:nth-child(2) ){
	padding-left: 1rem
}

.media-object-section>:last-child {
	margin-bottom: 0
}

.media-object-section.main-section {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0px
}

.is-off-canvas-open {
	overflow: hidden
}

.js-off-canvas-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity .5s ease, visibility .5s ease;
	transition: opacity .5s ease, visibility .5s ease;
	background: hsla(0, 0%, 100%, .25);
	opacity: 0;
	visibility: hidden;
	overflow: hidden
}

.js-off-canvas-overlay.is-visible {
	opacity: 1;
	visibility: visible
}

.js-off-canvas-overlay.is-closable {
	cursor: pointer
}

.js-off-canvas-overlay.is-overlay-absolute {
	position: absolute
}

.js-off-canvas-overlay.is-overlay-fixed {
	position: fixed
}

.off-canvas-wrapper {
	position: relative;
	overflow: hidden
}

.off-canvas {
	position: fixed;
	z-index: 1;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: #e6e6e6
}

[data-whatinput=mouse] .off-canvas {
	outline: 0
}

.off-canvas.is-transition-overlap {
	z-index: 10
}

.off-canvas.is-transition-overlap.is-open {
	box-shadow: 0 0 10px hsla(0, 0%, 4%, .7)
}

.off-canvas.is-open {
	-webkit-transform: translate(0);
	transform: translate(0)
}

.off-canvas-absolute {
	position: absolute;
	z-index: 1;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: #e6e6e6
}

[data-whatinput=mouse] .off-canvas-absolute {
	outline: 0
}

.off-canvas-absolute.is-transition-overlap {
	z-index: 10
}

.off-canvas-absolute.is-transition-overlap.is-open {
	box-shadow: 0 0 10px hsla(0, 0%, 4%, .7)
}

.off-canvas-absolute.is-open {
	-webkit-transform: translate(0);
	transform: translate(0)
}

.position-left {
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
	overflow-y: auto
}

.position-left.is-open ~.off-canvas-content {
	-webkit-transform: translateX(250px);
	transform: translateX(250px)
}

.position-left.is-transition-push:after {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 1px;
	box-shadow: 0 0 10px hsla(0, 0%, 4%, .7);
	content: " "
}

.position-left.is-transition-overlap.is-open ~.off-canvas-content {
	-webkit-transform: none;
	transform: none
}

.position-right {
	top: 0;
	right: 0;
	width: 250px;
	height: 100%;
	-webkit-transform: translateX(250px);
	transform: translateX(250px);
	overflow-y: auto
}

.position-right.is-open ~.off-canvas-content {
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px)
}

.position-right.is-transition-push:after {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1px;
	box-shadow: 0 0 10px hsla(0, 0%, 4%, .7);
	content: " "
}

.position-right.is-transition-overlap.is-open ~.off-canvas-content {
	-webkit-transform: none;
	transform: none
}

.position-top {
	top: 0;
	left: 0;
	width: 100%;
	height: 250px;
	-webkit-transform: translateY(-250px);
	transform: translateY(-250px);
	overflow-x: auto
}

.position-top.is-open ~.off-canvas-content {
	-webkit-transform: translateY(250px);
	transform: translateY(250px)
}

.position-top.is-transition-push:after {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	box-shadow: 0 0 10px hsla(0, 0%, 4%, .7);
	content: " "
}

.position-top.is-transition-overlap.is-open ~.off-canvas-content {
	-webkit-transform: none;
	transform: none
}

.position-bottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 250px;
	-webkit-transform: translateY(250px);
	transform: translateY(250px);
	overflow-x: auto
}

.position-bottom.is-open ~.off-canvas-content {
	-webkit-transform: translateY(-250px);
	transform: translateY(-250px)
}

.position-bottom.is-transition-push:after {
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 100%;
	box-shadow: 0 0 10px hsla(0, 0%, 4%, .7);
	content: " "
}

.position-bottom.is-transition-overlap.is-open ~.off-canvas-content {
	-webkit-transform: none;
	transform: none
}

.off-canvas-content {
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

@media print , screen and (min-width:40em) {
	.position-left.reveal-for-medium {
		-webkit-transform: none;
		transform: none;
		z-index: 1
	}
	.position-left.reveal-for-medium ~.off-canvas-content {
		margin-left: 250px
	}
	.position-right.reveal-for-medium {
		-webkit-transform: none;
		transform: none;
		z-index: 1
	}
	.position-right.reveal-for-medium ~.off-canvas-content {
		margin-right: 250px
	}
	.position-top.reveal-for-medium {
		-webkit-transform: none;
		transform: none;
		z-index: 1
	}
	.position-top.reveal-for-medium ~.off-canvas-content {
		margin-top: 250px
	}
	.position-bottom.reveal-for-medium {
		-webkit-transform: none;
		transform: none;
		z-index: 1
	}
	.position-bottom.reveal-for-medium ~.off-canvas-content {
		margin-bottom: 250px
	}
}

@media print , screen and (min-width:64em) {
	.position-left.reveal-for-large {
		-webkit-transform: none;
		transform: none;
		z-index: 1
	}
	.position-left.reveal-for-large ~.off-canvas-content {
		margin-left: 250px
	}
	.position-right.reveal-for-large {
		-webkit-transform: none;
		transform: none;
		z-index: 1
	}
	.position-right.reveal-for-large ~.off-canvas-content {
		margin-right: 250px
	}
	.position-top.reveal-for-large {
		-webkit-transform: none;
		transform: none;
		z-index: 1
	}
	.position-top.reveal-for-large ~.off-canvas-content {
		margin-top: 250px
	}
	.position-bottom.reveal-for-large {
		-webkit-transform: none;
		transform: none;
		z-index: 1
	}
	.position-bottom.reveal-for-large ~.off-canvas-content {
		margin-bottom: 250px
	}
}

.orbit, .orbit-container {
	position: relative
}

.orbit-container {
	height: 0;
	margin: 0;
	list-style: none;
	overflow: hidden
}

.orbit-slide {
	width: 100%
}

.orbit-slide.no-motionui.is-active {
	top: 0;
	left: 0
}

.orbit-figure {
	margin: 0
}

.orbit-image {
	width: 100%;
	max-width: 100%;
	margin: 0
}

.orbit-caption {
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	background-color: hsla(0, 0%, 4%, .5)
}

.orbit-caption, .orbit-next, .orbit-previous {
	position: absolute;
	padding: 1rem;
	color: #fefefe
}

.orbit-next, .orbit-previous {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10
}

[data-whatinput=mouse] .orbit-next, [data-whatinput=mouse] .orbit-previous
	{
	outline: 0
}

.orbit-next:active, .orbit-next:focus, .orbit-next:hover,
	.orbit-previous:active, .orbit-previous:focus, .orbit-previous:hover {
	background-color: hsla(0, 0%, 4%, .5)
}

.orbit-previous {
	left: 0
}

.orbit-next {
	left: auto;
	right: 0
}

.orbit-bullets {
	position: relative;
	margin-top: .8rem;
	margin-bottom: .8rem;
	text-align: center
}

[data-whatinput=mouse] .orbit-bullets {
	outline: 0
}

.orbit-bullets button {
	width: 1.2rem;
	height: 1.2rem;
	margin: .1rem;
	border-radius: 50%;
	background-color: #cacaca
}

.orbit-bullets button.is-active, .orbit-bullets button:hover {
	background-color: #8a8a8a
}

.pagination {
	margin-left: 0;
	margin-bottom: 1rem
}

.pagination:after, .pagination:before {
	display: table;
	content: " ";
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1
}

.pagination:after {
	clear: both
}

.pagination li {
	margin-right: .0625rem;
	border-radius: 0;
	font-size: .875rem;
	display: none
}

.pagination li:first-child, .pagination li:last-child {
	display: inline-block
}

@media print , screen and (min-width:40em) {
	.pagination li {
		display: inline-block
	}
}

.pagination a, .pagination button {
	display: block;
	padding: .1875rem .625rem;
	border-radius: 0;
	color: #0a0a0a
}

.pagination a:hover, .pagination button:hover {
	background: #e6e6e6
}

.pagination .current {
	padding: .1875rem .625rem;
	background: #1779ba;
	color: #fefefe;
	cursor: default
}

.pagination .disabled {
	padding: .1875rem .625rem;
	color: #cacaca;
	cursor: not-allowed
}

.pagination .disabled:hover {
	background: transparent
}

.pagination .ellipsis:after {
	padding: .1875rem .625rem;
	content: "\2026";
	color: #0a0a0a
}

.pagination-previous.disabled:before, .pagination-previous a:before {
	display: inline-block;
	margin-right: .5rem;
	content: "\00ab"
}

.pagination-next.disabled:after, .pagination-next a:after {
	display: inline-block;
	margin-left: .5rem;
	content: "\00bb"
}

.progress {
	height: 1rem;
	margin-bottom: 1rem;
	border-radius: 0;
	background-color: #cacaca
}

.progress.primary .progress-meter {
	background-color: #1779ba
}

.progress.secondary .progress-meter {
	background-color: #767676
}

.progress.success .progress-meter {
	background-color: #3adb76
}

.progress.warning .progress-meter {
	background-color: #ffae00
}

.progress.alert .progress-meter {
	background-color: #cc4b37
}

.progress-meter {
	position: relative;
	display: block;
	width: 0;
	height: 100%;
	background-color: #1779ba
}

.progress-meter-text {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	margin: 0;
	font-size: .75rem;
	font-weight: 700;
	color: #fefefe;
	white-space: nowrap
}

.slider {
	position: relative;
	height: .5rem;
	margin-top: 1.25rem;
	margin-bottom: 2.25rem;
	background-color: #e6e6e6;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: none;
	touch-action: none
}

.slider-fill {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	max-width: 100%;
	height: .5rem;
	background-color: #cacaca;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.slider-fill.is-dragging {
	-webkit-transition: all 0s linear;
	transition: all 0s linear
}

.slider-handle {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	left: 0;
	z-index: 1;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 0;
	background-color: #1779ba;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-ms-touch-action: manipulation;
	touch-action: manipulation
}

[data-whatinput=mouse] .slider-handle {
	outline: 0
}

.slider-handle:hover {
	background-color: #14679e
}

.slider-handle.is-dragging {
	-webkit-transition: all 0s linear;
	transition: all 0s linear
}

.slider.disabled, .slider[disabled] {
	opacity: .25;
	cursor: not-allowed
}

.slider.vertical {
	display: inline-block;
	width: .5rem;
	height: 12.5rem;
	margin: 0 1.25rem;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1)
}

.slider.vertical .slider-fill {
	top: 0;
	width: .5rem;
	max-height: 100%
}

.slider.vertical .slider-handle {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1.4rem;
	height: 1.4rem;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.sticky, .sticky-container {
	position: relative
}

.sticky {
	z-index: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.sticky.is-stuck {
	position: fixed;
	z-index: 5
}

.sticky.is-stuck.is-at-top {
	top: 0
}

.sticky.is-stuck.is-at-bottom {
	bottom: 0
}

.sticky.is-anchored {
	position: relative;
	right: auto;
	left: auto
}

.sticky.is-anchored.is-at-bottom {
	bottom: 0
}

body.is-reveal-open {
	overflow: hidden
}

html.is-reveal-open, html.is-reveal-open body {
	min-height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.reveal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1005;
	display: none;
	background-color: hsla(0, 0%, 4%, .45);
	overflow-y: scroll
}


}